<% layout('layout') -%>
<!--Intro and service-->
<!--Hero-->
<!-- <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span></span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">NSS DTU</b>
                <b>Not me, but you</b>
                <b>Rise Lead Serve</b>
            </span>
        </h1>
    </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col l9 m12 s12">
      <!--Intro and service-->
      <div id="intro" class="section scrollspy">
          <div class="container">
              <div class="row card-panel">
                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> Our Executives </span></h3>
                  </div>
    <table>
        <thead>
          <tr>
              <th>Department</th>
              <th>Name</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Editorial</td>
            <td>Annu Pawar, Ayushi Bansal</td>
          </tr>

            <tr>
            <td>Govt Schemes & Youth Empowerment</td>
            <td>Rupanshu Singh, Sumit Chaudhary</td>
          </tr>

          <tr>
            <td>Administration & Logistics</td>
            <td>Aamir Nasir, Anshul Gupta, Mohammad Zaid, Varun Gupta</td>
          </tr>
          
          <tr>
            <td>Health & Women Empowerment</td>
            <td>G.S.S.N Himabindu, Khushboo, Shrey Sharma</td>
          </tr>

          <tr>
            <td>Education</td>
            <td>Akash Gupta, Anushree Mahur, Gunagya Singh, Pulkit Sharma</td>
          </tr>
          
          <tr>
            <td>Awareness</td>
            <td>Shivani Jain, Sourabh Bhardwaj</td>
          </tr>
          
          <tr>
            <td>WebD</td>
            <td>Dhruv Vyas, Vedika Gupta</td>
          </tr>

          <tr>
            <td>Database</td>
            <td>Mrigank Badola, Ritwik Ranjan</td>
          </tr>

          <tr>
            <td>Corporate and Public Relations</td>
            <td>Aman Singh, Purshottam Kandhari, Sohum Gupta</td>
          </tr>
          

          <tr>
            <td>Digital Design</td>
            <td>Kanishk Yadav</td>
          </tr>



          <tr>
            <td>Rural Development</td>
            <td>Bhuvesh Kumar Gautam, Mohit Kumar</td>
          </tr>

          <tr>
            <td>Photography and Video Editing</td>
            <td>Satyam Gupta, Gajanand Gupta</td>
          </tr>
          
                      

          <tr>
            <td>Environment</td>
            <td>Palak Yadav, Viren</td>
          </tr>

          <tr>
             <td>Road safety</td>
             <td>Josh Vishnoi, Dev</td>
           </tr>

        </tbody>
      </table>
            

                  <div  class="col s12">
                      <h3 class="center header text_h2"><span class="span_h2"> Our Volunteers </span></h3>
                  </div>

              <a class="waves-effect waves-light btn center" target="_blank" href="Volunteers/2k15 Volunteers.pdf">Volunteers 2015</a>

              <a class="waves-effect waves-light btn center" target="_blank" href="Volunteers/2K16 Volunteers.pdf">Volunteers 2016</a>

              <a class="waves-effect waves-light btn center" target="_blank" href="Volunteers/2K17 Volunteers.pdf">Volunteers 2017</a>

                  </div>
              </div>
          </div>
      </div>


    </div>
  </div>
</div>
